* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  min-height: 100vh;
  padding-bottom: 40px;
  overflow: auto;
  position: relative;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 15px;
}

.header-menu ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.header-menu ul li a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border: 2px solid rgba(247, 246, 250, 0.55);
  border-radius: 2px;

  padding: 20px;
  margin: 10px;
  width: fit-content;
  height: 450px;
}

.card-conteudo {
  display: flex;
  flex-direction: column;
  width: 300px;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 40px;
}
