* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 2.5rem;
}

.h1-container {
  margin: 30px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 15px;
}

.header-menu ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.header-menu ul li a {
  text-decoration: none;
  color: white;
}
main {
  min-height: 100vh;
  padding-bottom: 40px;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#botoes {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

#menosPersonagens,
#maisPersonagens {
  width: 200px;
  height: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px solid rgba(247, 246, 250, 0.55);
  border-radius: 2px;

  padding: 10px;
  margin: 10px;
  width: fit-content;
  height: 450px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.card-conteudo {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.card footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 40px;
}

form {
  margin-bottom: 20px;
}

input {
  width: 350px;
}

@media screen and (max-width: 768px) {
  .container-header {
    flex-direction: column;
  }
}
